<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportGenerator.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<appSettings>
  <add key="Cookie" value="_ym_uid=1462904633519665068; __utmt_t=1; _ym_isad=2; flt.rgn=77,78,66; flt.indstr=cT,sS,cU,cP,sT,sI,sF,cU4; ddmc=1; mutoken=PGCNnWwNI4dbLl6V41bq37ftepjL1b3A0MAaAJJqTXszzuSDphCchXE9FbzNpdnqHBmzkca955fmZ6B4SWETWHyBJY_xtlg2gVdxfWVVkVU1; conv=2cde6a3d9b9f4caa83f3da2c4f49e59e%2fFree%2c2016-05-10%2c2016-05-10%2fDemo%2c2016-05-10%2c2016-05-10; __utma=96715016.637545455.1462904633.1462904633.1462904633.1; __utmb=96715016.7.9.1462904833423; __utmc=96715016; __utmz=96715016.1462904633.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); __utmv=96715016.|1=auth=%40free%40demo!demo=1"/>
  <add key="Interval" value="5"/>
  <add key="OrdersEmail" value="bezrisk@mail.ru" />
  <add key="OrdersEmailPass" value="n9iC:g3wjLOI" />
  <add key="ErrorsReportEmail" value="bezrisk@mail.ru" />
  <add key="UseProxy" value="True"/>
</appSettings>
</configuration>