<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportGenerator.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<appSettings>
  <add key="Cookie" value="flt.rgn=77,78,66; flt.indstr=cT,sS,cU,cP,sT,sI,sF,cU4; __utmt_t=1; _ym_uid=1461770455742931733; _ym_isad=2; ddmc=1; mutoken=fPTXmE0cB9EfnuOi8u91LsbFYT8C5VM2fq68WHqmTaBzs50ajHsrLkJwphb1mYt9eScEw0v5TnqDtr3QoURBvwkHHYxFwCH53No3QzEDcdM1; conv=3d30a754a4fa4bd2b779ee3b8d055e0e%2fFree%2c2016-04-27%2c2016-04-27%2fDemo%2c2016-04-27%2c2016-04-27; __utma=96715016.1580092813.1461770455.1461770455.1461770455.1; __utmb=96715016.5.9.1461770606293; __utmc=96715016; __utmz=96715016.1461770455.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); __utmv=96715016.|1=auth=%40free%40demo!demo=1"/>
  <add key="Interval" value="5"/>
  <add key="OrdersEmail" value="bezrisk@mail.ru" />
  <add key="OrdersEmailPass" value="n9iC:g3wjLOI" />
  <add key="ErrorsReportEmail" value="bezrisk@mail.ru" />
  <add key="UseProxy" value="True"/>
</appSettings>
</configuration>