<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportGenerator.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<appSettings>
  <add key="Cookie" value="__utmt_t=1; _ym_uid=1468134042712844707; _ym_isad=2; u_src=Seller; ddmc=1; mutoken=hYdqS7hVJHQhY7JiGclnU_S7G7dsCE-_KvjvQBXgX-K6VmnN6Wvu7N5xthX2DbRgzKUGEGi-pTUgSRO722UY6ghvfNV6H595RVNgyxVGBaQ1; conv=2ccd7cad24de4948beeac946e0dfac34%2fFree%2c2016-07-10%2c2016-07-10%2fDemo%2c2016-07-10%2c2016-07-10; flt.rgn=77,78,66; flt.indstr=cT,sS,cU,cP,sT,sI,sF,cU4; __utma=96715016.1704272168.1468134042.1468134042.1468134042.1; __utmb=96715016.4.9.1468134147623; __utmc=96715016; __utmz=96715016.1468134042.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); __utmv=96715016.|1=auth=%40free%40demo!demo=1; _ym_visorc_14324677=w"/>
  <add key="Interval" value="5"/>
  <add key="OrdersEmail" value="bezrisk@mail.ru" />
  <add key="OrdersEmailPass" value="n9iC:g3wjLOI" />
  <add key="ErrorsReportEmail" value="bezrisk@mail.ru" />
  <add key="UseProxy" value="False"/>
  <add key="Delay" value="5000"/>
</appSettings>
</configuration>